<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Tabela Nomenclatura</title>
<div class="row">
    <div class="col-md-4">
      <form method="GET">
        {{ filter.form.as_p }}
        <input type="submit" value="Buscar"/>
      </form>
    </div>

    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Categoria</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>MAC/SN</th>
            <th>Valor</th>
            <th>Situação</th>
            <th>Informações</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in filter.qs %}
            <tr>
              <td>{{ obj.categoria }}</td>
              <td>{{ obj.modelo }}</td>
              <td>{% if obj.marca %}
                {{ obj.marca }}
              {% else %}
              {{ a }}
              {% endif %}</td>
              <td>{{ obj.macsn_name }}</td>
              <td>{{ obj.valor }}</td>
              <td>{{ obj.situacao }}</td>
              <td>{{ obj.informacoes }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>