<div class="row">
    <div class="col-md-4">
      <form method="GET">
        {{ filter.form.as_p }}
        <input type="submit" />
      </form>
    </div>

    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>Categoria</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>MAC/SN</th>
            <th>Valor</th>
            <th>Observações</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in filter.qs %}
            <tr>
              <td>{{ obj.categoria }}</td>
              <td>{{ obj.modelo }}</td>
              <td>{{ obj.marca }}</td>
              <td>{{ obj.macsn_name }}</td>
              <td>{{ obj.valor }}</td>
              <td>{{ obj.observacoes }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>