<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>TCM Telecom</title>
</head>
<body>

  <h1>Tabela de Nomenclaturas</h1>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" /> 
    <button class="btn btn-primary my-2 my-sm-0" type="submit">
      Buscar
    </button>
    </form>
  <ul>
  {% for cadastro in cadastros %}
      <li>{{ cadastro.categoria }} - {{ cadastro.marca }} - {{ cadastro.modelo }} - {{ cadastro }} - R$ {{ cadastro.valor_name }}</li>
  {% endfor %}
  </ul>
</body>
</html>